.create-options-modal {
    position: absolute;
    top: 42px;
    right: 21px;
    width: 202px;
    text-align: left;
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 15px;
    box-shadow: 0 2px 8px #00000026;
    z-index: 9900;
    padding: 10px;
}

.create-options-content-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block !important;
}

.create-options-modal li {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.create-options-modal li:hover {
    background-color: #f0f0f0;
}
