.dashboard-container {
    display: flex;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.profile-options-modal {
    position: absolute;
    top: 45px;
    right: 0;
    width: 150px;
    text-align: left;
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 15px;
    box-shadow: 0 2px 8px #00000026;
    z-index: 9900;
    padding: 10px;
}

.profile-options-modal-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block !important;
}

.profile-options-modal li {
    padding: 5px 10px;
    cursor: pointer;
}

.profile-options-modal li:hover {
    background-color: #f0f0f0;
}

.mobile-profile-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75em;
}

.dashboard-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    z-index: 1000;
}

.mobile-profile-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.dashboard-sidebar .logo-dashboard {
    margin-bottom: 8em;
}

/* Eliminamos el fondo del contenedor de íconos */
.nav-icon-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

/* Icono por defecto */
.nav-icon {
    font-size: 1.5rem;
    color: black;
    transition: color 0.3s ease;
}

.nav-icon-save {
    font-size: 1rem;
}

.nav-tooltip {
    position: absolute;
    left: 100%;
    margin-left: 10px;
    white-space: nowrap;
    background-color: white;
    color: #000000;
    padding: 4px 8px;
    border-radius: 40px;
    opacity: 0;
    z-index: 9999;
    visibility: hidden;
    transition: opacity 0.3s ease;
    font-size: 0.85rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1500px) {
    .dashboard-sidebar .logo-dashboard {
        margin-bottom: 30px;
    }

    .dashboard-sidebar nav ul {
        gap: 25px;
    }
}

/* Al hacer hover, el icono cambia a verde */
.nav-icon-container:hover .nav-icon {
    color: rgba(6, 182, 160, 1);
}

/* Cuando está activo, el icono también se vuelve verde */
.nav-icon-container.active .nav-icon {
    color: rgba(6, 182, 160, 1);
}

.nav-icon-container:hover .nav-tooltip {
    opacity: 1;
    visibility: visible;
}

.dashboard-sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-sidebar nav ul li {
    margin: 10px 0;
    cursor: pointer;
}

.dashboard-sidebar .info-icon {
    margin-bottom: 10px;
}

.dashboard-main {
    margin-left: 80px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #fff;
}

.dashboard-header .header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-header .saved {
    display: flex;
    align-items: center;
    background: rgba(242, 242, 242);
    padding: 0.4em 0.5em;
    border-radius: 40px;
    gap: 5px;
    color: #767676;
    transition: all 0.3s ease;
}

.dashboard-header .saved:hover {
    background: #e0e0e0;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-header .saved:hover .nav-icon-save {
    color: #38c785;
}

.dahsboard-search {
    width: 100%;
}

.search-input-container {
    position: relative;
    width: 100%;
}

.search-input-container input {
    width: 100%;
    padding: 12px 10px 12px 40px;
    border-radius: 40px;
    border: none;
    color: black;
    background-color: rgba(242, 242, 242);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
}

.no-padding {
    padding: 0 !important;
}

.dashboard-header button.create-post-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 40px;
    background-color: #535353;
    color: white;
    font-size: 1em;
    border: none;
    width: 100px;
    cursor: pointer;
}

.dashboard-header button.create-post-btn:hover {
    background-color: black;
}


.dashboard-header select {
    padding: 5px;
    border-radius: 4px;
    border: none;
}

.dashboard-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dashboard-content {
    flex: 1;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.explorer-gallery {
    column-count: 7;
    column-gap: 16px;
}

.masonry-item {
    position: relative;
    margin-bottom: 16px;
    break-inside: avoid;
    overflow: hidden;
    border-radius: 16px;
}

.masonry-item img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.masonry-item:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.masonry-item:hover .overlay {
    opacity: 1;
}

.save-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #08b599;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 40px;
    font-size: 0.9em;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.masonry-item:hover .save-btn {
    opacity: 1;
}

.user-info {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.masonry-item:hover .user-info {
    opacity: 1;
}

.user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.user-info span {
    color: white;
    font-size: 0.8em;
}

.location-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #1e8c80;
    color: white;
    padding: 5px 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.masonry-item:hover .location-info {
    opacity: 1;
}

.location-info .location-icon {
    margin-right: 5px;
    font-size: 1em;
}

.tag-label {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 0.9em;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.masonry-item:hover .tag-label {
    opacity: 1;
}

@media (max-width: 1268px) {
    .explorer-gallery {
        column-count: 4;
    }
}

@media (max-width: 768px) {
    .explorer-gallery {
        column-count: 2;
    }
}

@media (max-width: 480px) {

    .profile-options-modal {
        position: absolute;
        top: -226px;
        width: 150px;
        text-align: left;
        right: -13px;
        background: #fff;
        border: 1px solid #ccc;
        color: #000;
        border-radius: 15px;
        box-shadow: 0 2px 8px #00000026;
        z-index: 9900;
        padding: 10px;
    }

    .dashboard-main {
        margin-left: 0;
    }

    .explorer-gallery {
        column-count: 2;
    }

    .dashboard-sidebar {
        display: none;
    }

    .dashboard-header .saved {
        display: none;
    }
}

.profile-img {
    display: block;
}

.hamburger-menu {
    display: none;
}

.mobile-navbar {
    display: none;
}

@media (max-width: 480px) {
    .mobile-navbar {
        display: block;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        width: 90%;
        max-width: 500px;
        background: #fff;
        border-radius: 40px;
        border-top: 1px solid #ccc;
        z-index: 900;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        padding-bottom: env(safe-area-inset-bottom);
    }

    .mobile-navbar ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        margin: 0;
        list-style: none;
    }

    .mobile-navbar a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.75rem;
        color: black;
        text-decoration: none;
        gap: 4px;
    }

    .mobile-navbar a.active {
        color: rgba(6, 182, 160, 1);
    }

    .mobile-navbar a svg {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .profile-img {
        display: none;
    }

    .hamburger-menu {
        display: block;
        font-size: 1.5rem;
        color: black;
        cursor: pointer;
    }
}

.side-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.mobile-side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    max-width: 240px;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    text-align: right;
    flex-direction: column;
    padding: 20px;
    animation: slideIn 0.3s ease;
}

.mobile-side-menu .menu-header {
    display: flex;
    justify-content: flex-end;
}

.close-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.mobile-side-menu .menu-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

.mobile-side-menu .menu-item {
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.mobile-side-menu .menu-item:hover,
.mobile-side-menu .menu-item.active {
    color: rgba(6, 182, 160, 1);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@media (min-width: 769px) {
    .overflow-hidden-desktop {
        overflow: hidden;
    }
}