.register-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.registro-verification-content {
    height: 500px;
}

.registro-email-enviado {
    margin-bottom: 10px;
}

.code-cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.resend-button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1rem;
    padding: 0;
}

.register-modal {
    background-color: #fff;
    border-radius: 30px;
    width: 800px;
    max-width: 90%;
    display: flex;
    position: relative;
    overflow: visible;
}

.error-message {
    color: red;
    font-size: 0.85rem;
    margin-top: 0.5rem;
}

.success-message {
    color: green;
    font-size: 0.85rem;
    margin-top: 0.5rem;
}

.close-button {
    position: absolute;
    top: -30px;
    right: -30px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
    padding: 0;
}

.close-button svg {
    font-size: 2.5rem;
    color: #fff;
}


.modal-content {
    display: flex;
    width: 100%;
}

.modal-image {
    flex: 1;
}

.modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 0 0 30px;
}

.modal-form {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-form h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 0.5rem;
}

.btn {
    padding: 0.75rem;
    border: none;
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: black;
    margin-top: 10px;
}

.register-btn {
    background-color: #000;
    color: #fff;
}

.register-btn:hover {
    background-color: #333;
}

.google-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

.google-btn:hover {
    background-color: #f3f3f3;
}

.switch-login {
    text-align: center;
    font-size: 0.9rem;
}

.switch-login a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

@media (max-width: 768px) {
    .register-modal {
        flex-direction: column;
        width: 90%;
    }

    .modal-content {
        flex-direction: column;
    }

    .modal-image {
        display: none;
    }
}