.page-wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.botones {
    display: flex;
    gap: 20px;
    margin-bottom: 0.5em;
}

.botones a {
    padding: 0.5em 2em;
    text-decoration: none;
    border-radius: 3em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botones a:first-child {
    background-color: #38c785;
    color: #eeeeee;
}

.botones a:last-child {
    background-color: #eeeeee;
    color: #292929;
}

.botones a:first-child:hover {
    background-color: #292929;
    color: #38c785;
    border-color: #292929;
}

.botones a:last-child:hover {
    background-color: #292929;
    color: #38c785;
}

.more {
    color: #292929;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.more:hover {
    background-color: #e9ecef;
    color: #38c785;
    border-color: #38c785;
}